*{
    margin: 0;
}
.bcolor {
    background-color: rgb(155, 248, 217);
}
.ulfirst{
    list-style: none;
    gap: 10px;
    margin-bottom: 10px;
}
.row{
    display: flex;
}
.center{
    text-align: center;
}
.justify-between{
    justify-content: space-between;
}
.gap24px{
    gap: 24px;
}
.imgs{
    width: 100%;
}
.margintop24px{
    margin-top: 24px;
}
.marginleft{
    margin-left: 20px;
}
.contianer{
width: 1180px;
}