.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}
h5{
  font-size: 20px;
}
h3{
  font-size: 50px
}
h6{
  font-size: 30px;
  font-weight: bold;
}
h4{
  font-size: 30px;
}
