.background{
    background-color: #160e33;
}
.crypto-style{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #EF443B;
    margin-left: 90px;
}
.nav-items{
    width: 109px;
    height: 19px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
}
.center_nav{
    justify-content: center;
    width: 100%;
    display: flex;
    list-style: none;
    gap: 30px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;
    border: 2px solid #EF443B;
    border-radius: 20px;
    margin-right: 90px;
}
.header-1{
    width: 730px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 80px;
    line-height: 95px;
    color: #FFFFFF;
    margin-top: 45px;
}
.p-1{
    width: 540px;
    height: 21px;   
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 25px;
}
.list-none{
    list-style: none;
}
.p-numbers{
    width: 39px;
    height: 36px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #EF443B;
}.btc{
    width: 160px;
}
.download-btn{
    background: #EF443B;
    border-radius: 40px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 24px;
    gap: 10px;
    width: 176px;
    height: 55px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.trade-crypto{  
    height: 55px;
    width: 171px;
    border-radius: 40px;
    padding: 18px 24px 18px 24px;
    background: rgba(22, 14, 51, 0.5);
    border: 2px solid #EF443B;
    border-radius: 40px;
    gap: 10px;
    width: 176px;
    height: 55px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}   
.gap30{
    gap: 30px;
}
.h6-1{
    width: 540px;
    height: 21px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
}
