*{
    margin: 0;
    padding: 0;
}
body{
    background: #1e1e1e;
}
.Helvetica{
    font-family: 'Helvetica';
}
.absolute{
    position: absolute;
}
.first-head{
    height: 37px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: linear-gradient(260.33deg, #0047FF -13.37%, #00BCD4 109.53%);
}
.header-1{
    width: 553px;
    height: 28px;
    left: calc(50% - 553px/2 + 0.5px);
    top: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.header-2{
    height: 67px;
    left: 0.4%;
    right: 0.4%;
    top: 36px;    
}
.header-3{
    height: 27px;
    left: 16.82%;
    right: 16.82%;
    top: calc(50% - 27px/2);
}
.sol-img{
    width: 181.69px;
    height: 27px;
    left: 36px;
    top: 2px;
}
.header-4{
    height: 27px;
    left: 57.28%;
    right: 1.75%;
    top: calc(50% - 27px/2);
}
.row{
    display: flex;
    list-style: none;
}
.g10{
    gap: 10px;
}
.gap40{
    gap: 40px;
}
.ul{
    height: 27px;
    left: 0%;
    right: 78.37%;
    top: 0px;
    display: flex;
    list-style: none;
    gap: 10px;
}
.words{
    display: flex;
    width: 45px;
    height: 28px;
    top: -1px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #848895;
    gap: 20px;
    list-style: none;
}
.hero{
    height: 664px;
    left: 0.4%;
    right: 0.4%;
    top: 86px;
}
.background{
    background: linear-gradient(98.88deg, #2a004d -2.99%, #000000 102.28%);
}
.h-first{
    width: 777px;
    height: 76px;
    left: calc(50% - 777px/2 + 0.5px);
    top: 182px;
    font-weight: 400;
    font-size: 70px;
    line-height: 76px;
    text-align: center;
}
.h-second{
    width: 566px;
    height: 76px;
    left: calc(50% - 566px/2);
    top: 257px;
    font-weight: 400;
    font-size: 68px;
    line-height: 76px;
    text-align: center;
}
.p-1{
    width: 589px;
    height: 55px;
    left: calc(50% - 589px/2 + 0.5px);
    top: 388px;
    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
}
.s-b{
    width: 181px;
    height: 52px;
    left: calc(50% - 181px/2 - 82.5px);
    top: calc(50% - 52px/2 + 185px);
    background: linear-gradient(98.88deg, #8C01FA -2.99%, #000000 102.28%);
}.r-b{
    width: 156px;
    height: 52px;
    left: calc(50% - 146px/2 + 96px);
    top: calc(50% - 52px/2 + 185px);
    background: #000000;
}.buttons{
    box-sizing: border-box;
    padding: 16px 33px;
    gap: 10px;
    position: absolute;
    border: 1px solid #000000;
    border-radius: 36px;
}
.div-client{
    height: 105px;
    left: -0.4%;
    right: -0.06%;
    top: 751px;
}
.about-tools{
    width: 704px;
    height: 17px;
    left: calc(50% - 704px/2 + 3px);
    top: -2px;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #618ADC;
    margin-top: 5px;
}
.companies{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 50px;
    gap: 40px;
    width: 1100.36px;
    height: 38px;
    left: calc(50% - 1166.36px/2 + 3px);
    top: 47.59px;
}
.li-comp{
    width: 114px;
    height: 38px;
}
.hero2{
    height: 1690px;
    left: -0.4%;
    right: 0%;
    top: 856px;
}
.comunity{
    height: 1440px;
    left: 17.42%;
    right: 17.02%;
    top: 124.59px;
}
.numbers{
    height: 573px;
    left: 0%;
    right: 50%;
    top: 0px;
}.white{
    color: #FFFFFF;
}




















    /* .nav-link{
    position: absolute;
    height: 67px;
    left: -0.41%;
    right: -0.41%;
    top: 0px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 0px;
}
.sol-img{
    position: absolute;
    width: 181.69px;
    height: 27px;
    left: 36px;
    top: 2px;
    margin-left: 325px;
}
.nav-ul{
    position: absolute;
    height: 27px;
    left: 57.28%;
    right: 1.75%;
    top: calc(50% - 27px/2);
.h-position{
    position: absolute;
    height: 27px;
    left: 16.82%;
    right: 16.82%;
    top: calc(50% - 27px/2);    
} */
