*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url(/lec8/src/img/Road.svg) ;
    background-repeat: no-repeat;
    background-size: 60% ;  
    width: 1180px;
    background-position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.resistance1{
    margin-left:407px ;
    margin-top: 240px;
    position: absolute;
}
.resistance2{
    margin-left:440px ;
    margin-top: 120px;
    position: absolute;
}
.car1{
    margin-left: 320px;
    margin-top: 400px;
    position: absolute;
    animation-name: car1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
.car2{
    margin-left:460px ;
    margin-top: 400px;
    position: absolute;
    animation-name: car2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.police{
    margin-top: 500px;
    margin-left:390px ;
    position: absolute;
    animation-name: police;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.truck{
    margin-top: 400px;
    margin-left: 763px;
    position: absolute;
    animation-name: car1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes car1{
    from {
         left:0px; top: 0px;px;
}
    to {
        left:0px; top:-500px;
}
}
@keyframes car2{
    0% { left:0px; top:0px    
    }
        10% { left:0px; top:-70px;   
    }
        20% { left:0px; top:-130px;  
    }
        30% { left:0px; top:-170px;  
    }
        40% { left:0px; top:-200px;  transform: rotate(0deg); 
    }
        50% { left:20px; top:-250px; transform: rotate(5deg); 
    }
        60% { left:45px; top:-300px; transform: rotate(10deg);
    }
        70% { left:20px; top:-350px; transform: rotate(-10deg);     
    }
        80% { left:0px; top:-400px;  transform: rotate(-5deg); 
    }
        90% { left:0px; top:-500px; transform: rotate(0deg); 
    }
        100% { left:0px; top:-550px;  
    }
}
@keyframes police{
    0% { left:0px; top:0px    
}
    10% { left:0px; top:-50px;   
}
    20% { left:0px; top:-100px;  
}
    30% { left:0px; top:-150px; transform: rotate(0deg); 
}
    40% { left:-30px; top:-200px; transform: rotate(-5deg);
}
    50% { left:-60px; top:-240px; transform: rotate(-10deg);
}
    60% { left:-30px; top:-300px; transform: rotate(+5deg);
}
    70% { left:0px; top:-375px; transform: rotate(0deg);     
}
    80% { left:0px; top:-425px; 
}
    90% { left:0px; top:-470px; 
}
    100% { left:0px; top:-520px;  
}
}