body {
  background-color: rgb(246, 235, 221);
}
* {
  margin: 0;
  padding: 0;
}
.img-W {
  margin-left: 20px;
  width: 608px;
  height: 101px;
  position: absolute;
}
.product_image {
  width: 100%;
  height: 190px;
  border-radius: 600px;
}
.product_info {
  align-items: center;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-end {
  display: inline-block;
  float: right;
}
.description-image {
  width: 100%;
}
.name-desc {
  font-size: 35px;
}
.mb-css {
  margin-bottom: 20%;
}
.file-css {
  margin-top: -4%;
}
/* @media (max-width: 600px) {
} */
