body {
  /* background-color: #1f41a9; */
  background: #1d2b3a;
  transition: 0.5s;
}
* {
  margin: 0;
  padding: 0;
}
.bodyRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inputBox {
  position: relative;
  width: 250px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #1d2b3a;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #00dfc4;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.85em;
  padding: 0 10px;
  background: #1d2b3a;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
  letter-spacing: 0.2em;
}
.inputBox .pasword-input input:valid + span,
.inputBox .pasword-input input:focus + span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #00dfc4;
}
.align {
  display: flex;
  justify-content: space-between;
}
.form-box,
.signIn-box {
  flex-basis: 45%; /* Adjust the width as needed */
}
.register-sign {
  margin-left: 35%;
}

.eclipseUP {
  position: absolute;
  margin-top: -3%;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-left {
  position: absolute;
  right: 0;
  bottom: 0;
}

.product_image {
  width: 100%;
  height: 190px;
  border-radius: 600px;
}
.product_info {
  align-items: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.h1-white {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}
.link-success {
  text-decoration: none;
  color: #00dfc4;
  font-weight: bold;
  font-size: 15px;
  border-radius: 40px;
  border: 4px solid;
  padding: 5px 10px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-end {
  display: inline-block;
  float: right;
}
.description-image {
  width: 100%;
}
.name-desc {
  font-size: 35px;
}
.mb-css {
  margin-bottom: 20%;
}
.file-css {
  margin-top: -4%;
}
.btn-danger {
  float: right;
}
.gapp {
  margin-right: 10px;
}
.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-numbers {
  border-radius: 50px;
  text-align: center;
  font-size: 15px;
}
.minus {
  width: 20px;
  border-radius: 50px;
  height: 35px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
}
.items {
  background-color: #035164;
  padding: 20px;
  box-shadow: 0 1px 50px #545757;
  letter-spacing: 1px;
  border: solid #00dfc4; /* Add border style */
  border-radius: 500px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #024a2f;
  color: white;
}
.cart-img {
  height: 35px;
}
